.text-justify {
  text-align: justify;
}

.jumbotron-background-color {
  background-color: #f1f3ff;
  color: black;
}

.sewa-background-color{
  background-color: #0D28A6;
  color:black;
}

.text-normal-weight {
  font-weight: normal;
}
